---
# Only the main Sass file needs front matter (the dashes are enough)
---
@charset "utf-8";

$font-size-s: 14px;
$font-size-sm: 16px;
$font-size-m: 18px;
$font-size-ml: 22px;
$font-size-l: 36px;

$white: #fff;
$cream-light: #FAFAF8;
$cream-dark: #EFF0EC;

$grey-lighter: #E0E1E2;
$grey-light: #A1A0A0;
$grey-medium: #969496;
$grey-dark: #808080;

$red-light: #D7625F;
$red-dark: #DB423C;
$teal-dark: #5BA5A4;
$yellow-light: #D2C93B;
$yellow-dark: #CDBC2C;
$cream-light: #FAFAF8;
$cream-dark: #f1efec;
$top-height: 55px;


// Import partials from `sass_dir` (defaults to `_sass`)
@import "foundation/settings";
@import "foundation/functions";
@import "foundation/components/grid";
@import "base";
@import "layout";
@import "top";
